/* BODY */
background: #d9aa71;

h1, h2, h3{
  font-family: 'Roboto';
}

/* HEADER */
header{
  background: #582326;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#headericons{
  background: red;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#headericons img{
  width: auto;
  height: 100px;
}

/* BURGERMENU */
#burgermenu{
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger{
  background: black;
  width: 30px;
  height: 5px;
  border-radius: 25%;
}

/* KURV */
#kurvsection{
  background: #F4DDC0;
  width: 1000px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

#kurvsection img{
  width: auto;
  height: 50px;
}

.kurvprodukt{
  background: red;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kurvbillede{}

.kurvbeskrivelse{}

.kurvplusminus{}

.kurvsletknap, .kurvplusknap, .kurvminusknap{
  width: 50px;
  height: 50px;
}

.kurvtotal{}

.tilkassen{}

@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
    #video1 {width: 100%; float: left;}
}
